/* HEADER DESKTOP */

header{
    text-align: center;
}


.ReserverMenuDesktop { 
    font-size: 14px;
    padding-left: 18px;
    margin-right: 40px;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.DecouvrezMenuDesktop {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-left: 4px;
    margin-bottom: 20px;
}

.DecouvrezMenu2Desktop {
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    padding: 8px;
    text-align: center;
    position: relative; bottom: 40px;
}

.buttonDesktop {
    background: linear-gradient(#FF79DA, #9356DC);
    border: none;
    color: white;
    padding: 18px;
    width: 214px;
    font-size: 16px;
    border-radius: 25px;
    position: relative; 
    box-shadow: 0 2px 4px #636363cc;
    text-align: center;
}

.buttonDesktop:hover {
    background: linear-gradient(#eeabdb, #b192d6);
    box-shadow: 0 2px 4px #2c2c2ccc;
}

.colorFondBodyDesktop {
    background-color: #F3F3F3;
    padding: 20px;
}

.alignCenterDesktop {
    margin: 2px;
    bottom: 200px;
    position: top;
}

.fonctionnementDesktop {
    padding: 100px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-size: 14px;
    padding-left: 30px;
    padding: 12px;
}

.conteneurDesktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    margin-right: 8px;
    margin-left: 0%;
}

.titreFonctionnement {
    margin-left: 7px;
}

.ElementDesktop {
    background-color: #FAFAFA;
    border: none;
    padding: 10px;
    padding-right: 15px;
    font-size: 16px;
    border-radius: 12px;
    margin-bottom: 15px;
    position:relative;
}


.colorNumberDesktop {
    background: #9356dc;
    width: 24px;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    transform: translate(-50%, -50%);
    top:50%;
}

.iconElementDesktop {
    font-size: 18px;
    position: absolute;
    left: 40px;
    padding-left: 0px;
}

.textIconDesktop {
    margin-left: 5%;
}

#containerSectionDesktop {
    font-family: 'Roboto', sans-serif;
    padding: 100px; 
    background-color: #F3F3F3;  
}

#containerDesktop {
    margin: auto;
    margin-top: 70px;
}

.cartesDesktop {
    background-color: white;
    border-radius: 20px 20px 20px 20px;  
    margin-bottom: 5%;
    box-shadow: 0 0 2px #636363cc;
}

.card-headerDesktop {
    position: relative;
}

.card-headerDesktop p {
    position: absolute;
    color: green;
    top: 2%;
    right: 5%;
    padding: 2%;
    background-color: #99E2D0;
}

.card-footerDesktop a {
    color: black;
    text-decoration: none;
}

.imageRestaurantDesktop {
    height: 175px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card-footerDesktop {
    margin: 3%;
    padding-bottom: 0%;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    position: relative;
}

.card-footer-text-Desktop {
    font-weight: 100;
}

.iconeCoeurDesktop {
    font-size: 150%;
}

.positionCoeurDesktop {
    float: left;
    left: 90%;
}

.parentDesktop {
    position: relative;
    margin-right: 20px;
 }

 .menunoirDesktop{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 2;
 }

 .menublancDesktop{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color:white;
 }

 .menunoir:hover{
    color:#4d4c4c;
 }

 .menunoir:hover ~ .menublanc{
    color:#b192d6;
}

#policeomf {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
}

.margIconFooterDesktop {
    margin-right: 25px;
 }

 .margIconFooter2Desktop {
     margin-right: 8px;
  }

  /* Desktop a la francaise */
  
  .imageAlaFrancaise{
    height: 600px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.iconeHeader {
    font-size: 20px;
    position: absolute;
    top: 1%;
    left: 5%;
    color: black;
}

.titreAlafrancaiseDesktop {
    font-family: 'Shrikhand', cursive;
    font-size: 25px;
    font-weight: 500;
    }



.h3policeDesktop {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom:3%;
    border-bottom: 3px solid #99E2D0;
    width: 5%;
    padding-bottom:5px;
    text-transform: uppercase;
    font-weight: 350;
    margin-top: 4%;
    }


    .buttonCommander {
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        color: white;
        padding: 18px;
        width: 214px;
        font-size: 16px;
        border-radius: 25px;
        margin-bottom:5%;
        box-shadow: 0 2px 4px #636363cc;
        text-align: center;
    }

    .buttonCommander:hover {
        background: linear-gradient(#eeabdb, #b192d6);
        box-shadow: 0 2px 4px #2c2c2ccc
        }
        
    .ElementMenuDesktop {
        background-color: #FAFAFA;
        border: none;
        padding: 5px;
        padding-right: 15px;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 15px;
        position: relative;
        box-shadow: 0 3px 3px #636363cc;
    }

    .prix {
        position: absolute;
        top: 5%;
        right: 5%;
        padding: 2%;
        } 

    .containerBtn{
        text-align: center;
        padding-top: 7%;
    }

    
    .margIconFooterDesktop {
        margin-right: 15px;
     }
    
     .margIconFooter2Desktop {
         margin-right: 8px;
      }