html, body{
    margin:0;
}

h3{
    margin: 0;
}

section {
margin: 0;
display: block;
}


footer {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#containerInfo {
    background-color:#FAFAFA;
    border-top: 2px solid #a8a6a6cc;
}

#containerSection {
    background-color: red;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

#containerFooter {
    background-color: #353535;
    padding: 22px;
}

@media screen and (max-width: 770px) {
 
    /* LES POLICES */
    .ReserverMenu {
        
        font-size: 14px;
        padding-left: 18px;
        padding: 8px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
 
    .ParisBelleville {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
    }
   
    .colorFondBody{
        background-color: #F3F3F3;
        padding: 14px;
    }

    .colorFondHeader {
        padding: 20px;
    }

 
    .DecouvrezMenu {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 17px;
    }
 
    .DecouvrezMenu2 {
        font-family: 'Roboto', sans-serif;
        padding-left: 10px;
        padding: 8px;
        text-align: center;
        position: relative; bottom: 40px;
    }
 
    .margeLogo {
        padding: 10px;
        margin-left: 100px;
        width: 180px;
    }
 
    .margeIconParisBelleville {
        margin-left: 100px
    }
 
    .iconMap {
        /* float: left; */
        padding-right: 15px;
        /* font-size: 18px; */
    }
 
    .alignCenter {
        margin: 20px;
        bottom: 20px;
        position: top;
    }
 
    .button {
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        display: flex;
        color: white;
        padding: 18px;
        width: 214px;
        font-size: 16px;
        margin: 10px 90px;
        border-radius: 25px;
        position: relative; bottom: 40px;
        box-shadow: 0 2px 4px #636363cc;
        text-align: center;
    }
   
   
    .fonctionnement {
        padding: 100px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        padding-left: 10px;
        padding: 12px;
    }
 
    #conteneur {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 
    .Element1 {
        background-color: #FAFAFA;
        text-align: center;
        border: none;
        padding: 20px;
        padding-right: 10px;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 15px;
    }
 
    .Element2 {
        background-color: #FAFAFA;
        text-align: center;
        border: none;
        padding: 20px;
        padding-right: 10px;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 15px;
    }
 
    .Element3 {
        background-color: #FAFAFA;
        text-align: center;
        border: none;
        padding: 20px;
        padding-right: 10px;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 15px;
    }
 
    .iconElement1 {
        font-size: 18px;
        float: left;
        right: 10px;
    }
 
    .iconElement2 {
        font-size: 18px;
        float: left;
        right: 10px;
    }
 
    .iconElement3 {
        font-size: 18px;
        float: left;
        right: 10px;
    }
/* FLEX RESTAURANTS
    .restaurants {
        padding: 5px;
    }

    .titleRestaurants{
        margin-bottom: 10px;
        margin: 10px;
    }

    .container {
            max-width: 1280px;
            margin: auto;
            position: relative;
    }

    .cartes {
        display: flex;
    }

    .carte {
        background-color: white;
        height: auto;
        padding: 1% 0 1% 1%;
        border-radius: 20px;
    }
*/
    .footerLogo {
        width: 120px;
        margin-top: 10px;
    }

    #policeomf {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
    }

    .margIconFooter {
       margin-right: 15px;
    }

    .margIconFooter2 {
        margin-right: 8px;
     }

}
