html, body{
    margin:0;
}

body{
    background-color: white;
}

h3{
    margin: 0;
}

section {
margin: 0;
display: block;
}

main {
    background-color: #F3F3F3;
}


footer {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#containerInfo {
    background-color:#FAFAFA;
    border-top: 2px solid #a8a6a6cc;
}

#containerSection {
    font-family: 'Roboto', sans-serif;
    padding: 25px; 
    background-color: #F3F3F3;  
}

#containerFooter {
    background-color: #353535;
    padding: 22px;
}

.policeSmall {
    font-weight: 100;
}

.backSpin{
        height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    -webkit-animation: spinner 2s linear;
            animation: spinner 2s linear;
    visibility: hidden;
}

.chargement {
    /* Création du Loader */
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-left: 10px solid #99E2D0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear;
    -o-animation: spin 2s linear;
    animation: spin 2s linear infinite;
    
    
    /* Placement du Loader au centre de la page d'accueil */
  
      margin: auto;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-animation: spinner-border 2s linear;
              animation: spinner-border 2s linear;
      z-index: 10;
      visibility: hidden;
  }
  
  
  /* Animation du Loader */
  @-webkit-keyframes spinner {
    0% {
      visibility: visible;
      opacity: 0.9;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  @keyframes spinner {
    0% {
      visibility: visible;
      opacity: 0.9;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  
  @-webkit-keyframes spinner-border {
    0% {
      visibility: visible;
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  
  @keyframes spinner-border {
    0% {
      visibility: visible;
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
      visibility: hidden;
    }
  }
  





@media screen and (max-width: 770px) {
 
    /* LES POLICES */
    .ReserverMenu {
        
        font-size: 14px;
        padding-left: 18px;
        padding: 8px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
 
    .ParisBelleville {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
    }
   
    .colorFondBody {
        background-color: #F3F3F3;
        padding: 14px;
    }

    .colorFondHeader {
        padding: 20px;
    }

 
    .DecouvrezMenu {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 17px;
    }
 
    .DecouvrezMenu2 {
        font-family: 'Roboto', sans-serif;
        padding-left: 10px;
        padding: 8px;
        text-align: center;
        position: relative; bottom: 40px;
    }
 
    .margeLogo {
        padding: 10px;
        width: 180px; 
    }
 
    .margeIconParisBelleville {
        /* margin-left: 100px */
    }
 
    .iconMap {
        padding-right: 15px;
    }
 
    .alignCenter {
        margin: 20px;
        bottom: 20px;
        position: top;
    }
 
    .button {
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        /* display: flex; */
        color: white;
        padding: 18px;
        width: 214px;
        font-size: 16px;
        /* margin: 10px 90px; */
        border-radius: 25px;
        position: relative; bottom: 40px;
        box-shadow: 0 2px 4px #636363cc;
        text-align: center;
    }

    .button:hover {
        background: linear-gradient(#eeabdb, #b192d6);
        box-shadow: 0 2px 4px #2c2c2ccc
    }


   
   
    .fonctionnement {
        padding: 100px;
        font-family: 'Roboto', sans-serif;
        background-color: white;
        font-size: 14px;
        padding-left: 10px;
        padding: 12px;
    }
 
    #conteneur {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .colorNumber {
        background: #9356dc;
        height: 24px;
        width: 24px;
        border-radius: 20px;
        font-size: 18px;
        color: white;
        text-align: center;
        position: absolute;
        left: 0;
        transform: translate(-50%, -50%);
        top:50%;
    }

    .textIcon {
        margin-left: 25%;
    }

    .listNumber {
        font-size: 17px;
        color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        padding: 2px;
    }

    .Element {
        background-color: #FAFAFA;
        border: none;
        padding: 22px;
        padding-right: 15px;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 15px;
        position:relative;
    }

 
    .iconElement {
        font-size: 18px;
        position: absolute;
        left: 0;
        padding-left: 40px;
    }
 

 /* FLEX RESTAURANTS */

    .titleRestaurants{
        margin-bottom: 10px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .container {
            max-width: 1280px;
            margin: auto;
            margin-top: 40px;
    }

    .cartes {
        background-color: white;
        border-radius: 20px 20px 20px 20px;  
        margin-bottom: 5%;
        box-shadow: 0 0 2px #636363cc;
    }

    .imageRestaurant {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }

    .card-footer {
        margin: 3%;
        padding-bottom: 0%;
        display: flex;
        align-content: space-around;
        justify-content: space-between;
        position: relative;
    }

    .card-header{
        position: relative;
    }

    .card-header p {
        position: absolute;
        color: green;
        top: 2%;
        right: 5%;
        padding: 2%;
        background-color: #99E2D0;
    }

    .card-footer a {
        color: black;
        text-decoration: none;
    }

    .card-footer-text {
        font-weight: 200;
    }

    .iconeCoeur {
        margin-top: 5%;
    }



    .parent {
        position: relative;
        margin-right: 20px;
     }

     .menunoir{
        position:absolute;
        top: 0;
        left: 0;
        z-index: 2;
     }

     .menublanc{
        position:absolute;
        top: 0;
        left: 0;
        z-index: 1;
        color:white;
     }

     .menunoir:hover{
        color:#4d4c4c;
     }

     .menunoir:hover ~ .menublanc{
        color:#b192d6;
    }

    .footerLogo {
        width: 120px;
        margin-top: 10px;
    }

    #policeomf {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
    }

    .margIconFooter {
       margin-right: 15px;
    }

    .margIconFooter2 {
        margin-right: 8px;
     }

     /* CSS Page A la Française */

     .ElementMenu {
        background-color: #FAFAFA;
        border: none;
        padding: 10px;
        padding-right: 15px;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 15px;
        position: relative;
        box-shadow: 0 1px 1px #636363cc;
    }

    /* test animation pastille verte */
/*
    .iconeVert {
        position: relative;
        background: #99E2D0;
        border-radius: 0 15px 15px 0;
        right: 0px;
        padding: 0 13px;
        height: 100%;
    }
*/


    .TitreMenu2 {
        font-size: 18px;
    }

    .TitreMenu3 {
        font-size: 18px;
        
    }

    .tailleParagraphes {
        font-size: 14px;
        margin: 2px;
        font-weight: 300;
    }

    .marge {
        margin: 10px;
    }
    
     .containerAlafrancaise {
        background-color: #F3F3F3;
        font-family: 'Roboto', sans-serif;
        padding: 20px;
        border-radius: 20px 20px 0 0;
        position:absolute;
        top: -55px;
    }

    .iconeHeader {
        font-size: 20px;
        position: absolute;
        top: 2%;
        left: 5%;
        color: black;
    }

    .imageAlaFrancaise {
        width: 100%;
        height: auto;
        }
    
    .titreAlafrancaise {
        font-family: 'Shrikhand', cursive;
        font-size: 25px;
        font-weight: 500;
        }

    .coeur {
            position: relative;
        }

    .iconeCoeur2 {
        position: absolute;
        margin-top: 5%;
        top: 2%;
        right: 5%;
        padding: 2%;
        font-size: 150%;
        }

    .h3police {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom:5%;
        border-bottom: 3px solid #99E2D0;
        width: 15%;
        padding-bottom:5px;
        text-transform: uppercase;
        font-weight: 350;
        }

        
    .prix {
        position: absolute;
        top: 15%;
        right: 5%;
        padding: 2%;
        }

    .prix44euros {
        position: absolute;
        top: 40%;
        right: 5%;
        padding: 2%;
        }

        .containerBtn{
            text-align: center;
        }
        
        .buttonCommander {
            background: linear-gradient(#FF79DA, #9356DC);
            border: none;
            color: white;
            padding: 18px;
            width: 214px;
            font-size: 16px;
            border-radius: 25px;
            margin-top:10%;
            box-shadow: 0 2px 4px #636363cc;
            text-align: center;
        }

        .buttonCommander:hover {
        background: linear-gradient(#eeabdb, #b192d6);
        box-shadow: 0 2px 4px #2c2c2ccc
        }
    }
