@media screen and (max-width:1295px) {
    
    header{
        text-align: center;
    }
    
    .margeTabletteOMF {
        /* padding: 10px;
        margin-left: 430px;
        width: 180px; */
    }
    
    .margeDesktopParis {
        /* padding: 10px;
        margin-left: 420px;
        width: 18px; */
    }
    
    .ReserverMenuTablette { 
        font-size: 14px;
        padding-left: 18px;
        margin-right: 0px;
        padding: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .DecouvrezMenuDesktop {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 20px;
        margin-left: 4px;
        margin-bottom: 20px;
    }
    
    .DecouvrezMenu2Desktop {
        font-family: 'Roboto', sans-serif;
        padding-left: 10px;
        padding: 8px;
        text-align: center;
        position: relative; bottom: 40px;
    }
    
    .buttonTablette {
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        /* display: flex; */
        color: white;
        padding: 18px;
        width: 214px;
        font-size: 16px;
        /* margin: 30px 90px; */
        border-radius: 25px;
        position: relative; bottom: 40px;
        box-shadow: 0 2px 4px #636363cc;
        text-align: center;
        /* margin-left: 420px; */
    }
/*
    .iconeCoeur2Desktop {
        position: absolute;
        margin-top: 6%;
        top: 1%;
        right: 5%;
        padding: 2%;
        font-size: 150%;
        }
        */

    .margeEntreePlatsDesserts {
        margin-bottom: 10%;
        }

    .prix {
        position: absolute;
        top: 15%;
        right: 5%;
        padding: 2%;
        }
    }
    