@media screen and (max-width:1295px) {
    
    header{
        text-align: center;
    }
    
    .h3policeDesktop {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1%;
        border-bottom: 3px solid #99E2D0;
        width: 5%;
        padding-top:1%;
        text-transform: uppercase;
        font-weight: 350;
        margin-top: 5%;
        }
        
    .ReserverMenuTablette { 
        font-size: 14px;
        padding-left: 18px;
        margin-right: 0px;
        padding: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .DecouvrezMenuDesktop {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 20px;
        margin-left: 4px;
        margin-bottom: 20px;
    }
    
    .DecouvrezMenu2Desktop {
        font-family: 'Roboto', sans-serif;
        padding-left: 10px;
        padding: 8px;
        text-align: center;
        position: relative; bottom: 40px;
    }
    
    .buttonTablette {
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        color: white;
        padding: 18px;
        width: 214px;
        font-size: 16px;
        border-radius: 25px;
        position: relative; bottom: 40px;
        box-shadow: 0 2px 4px #636363cc;
        text-align: center;
    }

    .buttonCommander:hover {
        background: linear-gradient(#eeabdb, #b192d6);
        box-shadow: 0 2px 4px #2c2c2ccc
        }
        
    .coeur {
        position: relative;
    }

    .positionCoeurTablette {
        float: left;
        
        font-size: 150%;
    }

    .margeEntreePlatsDesserts {
        margin-bottom: 0%;
        }

    .prix {
        position: absolute;
        top: 15%;
        right: 5%;
        padding: 2%;
        }

    .ElementMenuDesktop {
        background-color: #FAFAFA;
        border: none;
        padding: 5px;
        padding-right: 15px;
        font-size: 16px;
        border-radius: 12px;
        margin-bottom: 15px;
        position: relative;
        box-shadow: 0 3px 3px #636363cc;
        display: flex;

    }
    }
    